/* partial code were learnd by ZAINKEEPSCODE's tutorial videos: "React js Sidebar | Animated Navigation Menu" from youtube. */
.homepage {
  display: flex;
  width: 100%;
  color:black;
  min-height: 100vh;
}

.body_container {
  margin: 25px;
  flex: 1;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  padding: 10px;
}

.body_card {
  background-color: #dee2e6;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 2px;
  backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: 'Bradley Hand';
}

.sidebar_container {
  margin-top: 20px;
}

.sidebar {
  display: flex;
  flex: 1;
  height: 95%;
  width: 15rem;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  background-color: #032b43;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.lines_icon {
  display: flex;
  align-self: flex-end;
  border-radius: 5px;
  color: white;
}

.profile {
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile > img {
  width: 110%;
  border-radius: 100%;
}

.group {
  color:white;
}

.sideLogo {
  width: 210%;
}