/* partial code were learnd by ZAINKEEPSCODE's tutorial videos: "React js Sidebar | Animated Navigation Menu" from youtube. */
.homepage {
  display: flex;
  width: 100%;
  font-family: 'IBM Plex Sana Thai Looped', sans-serif;
  color: white;
  background:  #000000;
  text-shadow: 1px 0px 2px #8dc4f0;
  min-height: 100vh;
}

.body_container {
  margin: 25px;
  flex: 1;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.body_card {
  background: rgba(153, 173, 207, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.sidebar_container {
  margin-top: 20px;
}

.sidebar {
  display: flex;
  flex: 1;
  height: 95%;
  width: 15rem;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.lines_icon {
  display: flex;
  align-self: flex-end;
  border-radius: 5px;
}

.profile {
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile > img {
  width: 110%;
  border-radius: 100%;
}

.groups {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebarlogo {
  display: flex;
  align-items: center;
}