a {
  text-decoration: none;
  color: black;
}

.property-listing-page {
  padding: 36px;
}

.property-listing-contents {
  display: flex;
}

.property-listing-left {
  width: 30%;
}

.property-listing-right {

}

.property-listing-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #c7cdd1;
  background: rgba(255, 255, 255, 0.95);
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}

.property-listing-cards {
  margin-top: 36px;
  gap: 36px;
  display: flex;
}

.property-listing-card {
  box-sizing: border-box;
  border: 1px solid #d8d6d4;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  /* margin: 36px 0 0 36px; */
}

.property-listing-card:hover {
  transition-delay: 5ms;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.property-card-content {
  padding: 12px 16px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.property-card-footer {
  padding-top: 12px;
  border-top: 1px solid rgb(237 235 233 / var(--tw-border-opacity));
  --tw-border-opacity: 1;
}

.property-image {
  width: 100%;
}
