.tenant-container {
  width: 100%;
  /*background-color: #eee;*/
}

.container {
  width: 100%;
}

.payment-history-container {
  max-height: 250px;
  overflow-y: auto;
  padding: 0;
}

.payment-history thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.col-sm-custom {
  width: 35%;
}

.required-payments-container {
  padding: 0;
}

.tenant-home-page-right-section {
  display: grid;
  gap: 1.5rem !important;
}
