.calendar {
  color:black;
}

.button-container {
  display: flex;
  align-items: center;
}

.button-container button {
  background-color:rgb(201, 164, 97);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.day-button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:first-child {
  margin-right: 5px;
}

.button-container button:last-child {
  margin-left: 5px;
}

.button-container button span {
  display: block;
  width: 100%;
  height: 100%;
}

.button-container button .ChevronLeftIcon,
.button-container button .ChevronRightIcon {
  fill: currentColor;
}

.button-container button:hover {
  background-color: #edf2f7;
}

.calendar-reminder {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color:black;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  height: 460px;
}

.weekday {
  font-size: medium;
}

.calendar {
  width: 100%;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: black;
  margin-left: 50px;
  font-family: 'Bradley Hand';
}

.calendar-container button {
  background-color:#032b43;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.calendar-container button.font-semibold {
  background-color: rgb(201, 164, 97);;
  color: #ffffff;
}

.calendar-container button.text-red-500 {
  background: #ffffff;
  color: red;
}

.calendar-container button.text-white {
  color: #2d3748;
}

.calendar-container button.text-gray-400 {
  color: #cbd5e0;
}

.calendar-container button.hover:bg-gray-200 {
  background-color: #edf2f7;
}

.calendar-container .w-1.h-1 div {
  width: 8px;
  height: 8px;
}

.calendar-container .w-1.h-1 div.bg-sky-500 {
  background-color: orange;
}

.reminder {
  width: 100%;
  font-family: 'Bradley Hand';
}

.dues {
  max-height: 460px;
  overflow-y: auto;
  margin: auto;
  width: 100%;
  display: grid;
  gap: 15px;
}

.day-marker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.day-marker {
  width: 6px !important;
  height: 6px !important;
}
