.reminder-card {
  background-color: rgb(235, 235, 167);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border-radius: 10px;
}

.reminder-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.left-column {
  flex: 1;
}

.right-column {
  flex: 1;
}

.name {
  margin-bottom: 10px;
}

.fees {
  padding-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li.even {
  background-color: #f2f2f225;
}

li.odd {
  background-color: #ffffff54;
}

.reminder-card-top-section {
  text-align: left;
  color: black;
  padding: 10px 10px 0 10px;
}
