.property-card {
    margin-top: 30px;
    /* padding: 20px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5.5px);
    border: 1px solid rgba(200, 195, 195, 0.18);
}
.property-card .property-detail {
    padding: 15px;
    background: rgba(22, 20, 20, 0.3);
}

.property-card .property-address {
    font-size: 16px;
}

.property-card .property-zone-info {
    font-size: 14px;
}

.property-card small {
    color: #0d4781;
}

.property-card header  {
    font-size: 35px;
    font-weight: bold;
    color: #1F355E;
    margin-bottom: 5px;
}

.property-card {
    color: #380de1;
    font-size: 18px;
    margin-bottom: 5px;
}

.property-card .bed-and-bath {
    display: flex;
    align-items: center;
}

.property-card .bed-and-bath span {
    margin-right: 5px;
}

.property-card p {
    margin: 0;
}